/ex1/nbproject/private/
/ex1/build/
/ex2/nbproject/private/
/ex3/nbproject/private/
/ex10/nbproject/private/
/ex10/build/
/ex4/nbproject/private/
/ex5/nbproject/private/
/ex6/nbproject/private/
/ex7/nbproject/private/
/ex8/nbproject/private/
/ex9/nbproject/private/
/ex4/build/
